run = "npm start"
entrypoint = "server.js"
modules = ["nodejs-20"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[[ports]]
localPort = 3000
externalPort = 80
